<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362176913792-tda207b6l1e87ifhcll7sm23qt1f1v7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362176913792-tda207b6l1e87ifhcll7sm23qt1f1v7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBCu5uLGUJ_eru0wsQOJNulDzFskaFLHOM</string>
	<key>GCM_SENDER_ID</key>
	<string>362176913792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Junwoo.Momo8282.DiaryApp</string>
	<key>PROJECT_ID</key>
	<string>diaryapp-90713</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp-90713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362176913792:ios:523d7a190b449e2d006165</string>
</dict>
</plist>